@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {margin:0; padding: 0; font-family: 'Poppins', sans-serif}

body {
    background-color: white;
}
.table td, .table th {
    min-width: 150px;
}
.scrollbar-morpheus-den::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-morpheus-den::-webkit-scrollbar {
    width: 12px;
    height: 8px;
    background-color: #F5F5F5;
}

.scrollbar-morpheus-den::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #B9B7BD;
}

.scrollbar-morpheus-den {
    scrollbar-color: #B9B7BD;
}
.container-fluid{
    overflow: hidden !important;
}