<nav
  class="navbar navbar-expand-sm navbar-dark bg-gradient-dark z-index-3 py-3">
  <div class="container">
    <a class="navbar-nav text-light h1" href="{{ path('app_project_index') }}">
      DUMD
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav ms-auto gap-2">
        <div class="dropdown">
            <button class="btn btn-icon-only bg-gradient-light  mb-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user" style="color: #252f40"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="{{ path('app_user_me') }}">{{ app.user.email }}</a></li>
                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Wyloguj</a></li>
            </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>